<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>
  
  <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='meta/apple-touch-icon.png') }}">
  <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='meta/apple-touch-startup-image-640x1096.png') }}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
  <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='meta/apple-touch-startup-image-640x920.png') }}"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>
  <script>
    $(document).ready(function(){
      $("#host_ip").html("host ip<br>"+"{{ip}}");
    })
  </script>
  <div class="host_ip" id="host_ip">test</div>
  <div class="container">
    <div class="heading">
      <h1 class="title">2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="above-game">
      <a href="/score" class="score-button">Score Table</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    <strong class="important">Note:</strong> This site is the official version of 2048. You can play it on your phone via <a href="http://git.io/2048">http://git.io/2048.</a> All other apps or sites are derivatives or fakes, and should be used with caution.
    </p>
    <hr>
    <p>
    Created by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> Based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
    </p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bind_polyfill.js') }}"></script>
  <script src="{{ url_for('static', filename='js/classlist_polyfill.js') }}"></script>
  <script src="{{ url_for('static', filename='js/animframe_polyfill.js') }}"></script>
  <script src="{{ url_for('static', filename='js/keyboard_input_manager.js') }}"></script>
  <script src="{{ url_for('static', filename='js/html_actuator.js') }}"></script>
  <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tile.js') }}"></script>
  <script src="{{ url_for('static', filename='js/local_storage_manager.js') }}"></script>
  <script src="{{ url_for('static', filename='js/game_manager.js') }}"></script>
  <script src="{{ url_for('static', filename='js/application.js') }}"></script>
  
</body>
</html>
