<!DOCTYPE html>
<html>
<head>
	<link href="{{ url_for('static', filename='scorestyle/style.css') }}" rel="stylesheet" type="text/css">
	
</head>
	<body>
		<div class="wrapper">
		  <div class="list">
			<div class="list__header">
			  <h5>Formula 1</h5>
			  <h1>2048 Competition Results</h1>
			</div>
			<div class="list__body">
			  <table class="list__table">
				  <tbody id="hello">
					
				</tbody>
			  </table>
			</div>
		  </div>
		</div>
		<table id="myTable">
  
		</table>
		<br>

		<button type="button" onclick="myFunction()">Try it</button>

		<script>
		var host_ip = "{{host_ip}}";
		var name_list = {{data}};
		var score_list = {{data2}};
		var country_list = {{data3}};
		console.log(name_list);
		console.log(score_list);
		console.log(country_list);
		console.log(host_ip);
		//geturl = escape(geturl)
		
		for(var i = 0;i<name_list.length;i++){
			myFunction(i+1,name_list[i],country_list[i],score_list[i]);
		}
		function myFunction(index,name,country,score) {
			//var table = document.getElementsByClassName("list__table");
			var a = document.createElement("TR");
			a.setAttribute("class", "list__row");
			document.getElementById("hello").appendChild(a);
			//First TD
			var b = document.createElement("TD");
			b.setAttribute("class", "list__cell");
			a.appendChild(b);
			
			var c = document.createElement("SPAN");
			c.setAttribute("class", "list__value");
			c.innerHTML=index;
			b.appendChild(c);
			//Second TD
			var d = document.createElement("TD");
			d.setAttribute("class", "list__cell");
			a.appendChild(d);
			
			var e = document.createElement("SPAN");
			e.setAttribute("class", "list__value");
			e.innerHTML=name;
			d.appendChild(e);
			
			var f = document.createElement("SMALL");
			f.setAttribute("class", "list__label");
			f.innerHTML="Name";
			d.appendChild(f);
			//Third TD
			var g = document.createElement("TD");
			g.setAttribute("class", "list__cell");
			a.appendChild(g);
			
			var h = document.createElement("SPAN");
			h.setAttribute("class", "list__value");
			h.innerHTML=country;
			g.appendChild(h);
			
			var i = document.createElement("SMALL");
			i.setAttribute("class", "list__label");
			i.innerHTML="Country";
			g.appendChild(i);

			//Forth TD
			var j = document.createElement("TD");
			j.setAttribute("class", "list__cell");
			a.appendChild(j);
			
			var k = document.createElement("SPAN");
			k.setAttribute("class", "list__value");
			k.innerHTML=score;
			j.appendChild(k);
			
			var l = document.createElement("SMALL");
			l.setAttribute("class", "list__label");
			l.innerHTML="Points";
			j.appendChild(l);
			
			}
		</script>
		<div class="overlay"></div>
		<div class="sidebar">
		  <div class="sidebar__header">
			<div class="sidebar__title">Driver information</div>
			<button class="button button--close">
			  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
				<circle cx="12" cy="12" r="10"></circle>
				<line x1="15" y1="9" x2="9" y2="15"></line>
				<line x1="9" y1="9" x2="15" y2="15"></line>
			  </svg>
			</button>
		  </div>
		  <div class="sidebar__body"></div>
		</div>
		<script src="{{ url_for('static', filename='scorejs/script.js') }}"></script>
	</body>
</html>